<header>
    <h1>Login Page</h1>
    <div>
        <%- include('../partials/messages') %>
    </div>
</header>
<section>
    <div>
        <form action="/login" method="POST">
            <div>
                <input type="email" name="email" placeholder="Email" required />
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" required />
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</section>
<footer>
    <div>
        <div>
            <a href="/register">Didn't Have An Account</a>
        </div>
        <div>
            <a href="/">Home</a>
        </div>
    </div>
</footer>