.dashboard__frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard__footer__frame{
    display: flex;
}

.search__header__frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.station__frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}