.clear__link__letter:link{
    color: white;
    text-decoration: none;
}

.clear__link__letter:visited{
    color: white;
    text-decoration: none;
}

.clear__link__letter:hover{
    color: white;
    text-decoration: none;
}